.home__content {
    color: white;
    transform: scaleX(-1);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;

    &__left {
        width: 100%;
        height: 100%;
    }
}