@mixin smallData {
    font-size: 30px;
    letter-spacing: 6px;
    transition: all .4s ease-in-out;
    cursor: url('https://raw.githubusercontent.com/JohnattanIsrael/24/main/static/assets/christmas/16191804141581534992-128.png'), auto;
}

