@mixin smallData {
    // font-family: 'Monoton', cursive;
    // font-family: 'Mountains of Christmas', cursive;
    // font-family: 'Open Sans', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    letter-spacing: 12px;
    transition: all .4s ease-in-out;
    cursor: url('https://raw.githubusercontent.com/JohnattanIsrael/24/main/static/assets/christmas/christmas-cursor.png'), auto;
}

